@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import '@sweetalert2/theme-dark/dark.scss';
@tailwind base;
@tailwind components;
@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}
@tailwind utilities;


html,body {
  font-family: 'Mitr', sans-serif;
  font-display: swap;
}

.franger {
  font-family: 'Fredoka One', cursive;
  font-display: swap;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #161616;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 10px;
}

