@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import "@sweetalert2/theme-dark/dark.scss";
@import "@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@tailwind utilities;

html,
body {
  font-family: "Mitr", sans-serif;
  font-display: swap;
  height: 100%;
  width: 100%;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100% !important;
}

.franger {
  font-family: "Fredoka One", cursive;
  font-display: swap;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 10px;
}

.task-list-container {
  display: inline-block;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #888;
  border-radius: 6px;
  padding: 4px;
}

.task {
  display: inline-block;
  position: relative;
  width: calc(100% - 8px);
  padding: 8px;
  margin: 4px;
  border: 1px solid #888;
  border-radius: 4px;
}

.bars-right {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 10px;
}
.rainbow {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}
